<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		/*background-color: #638CB8;*/
		background-image: linear-gradient(to right, rgba(16,11,0,1), rgba(115,28,52,25));
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:400px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}
	.btn-sm{
		background-color: #000000;
	}

	.bg-text {
		  background-color: rgb(0,0,0); /* Fallback color */
		  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
		  color: white;
		  font-weight: bold;
		  border: 3px solid #f1f1f1;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  z-index: 2;
		  width: 50%;
		  padding: 20px;
		  text-align: center;
	}

</style>
<div class="center-column, bg-text">
<p>
	Are You To Delete "{{item}}?"
</p>
<center><a class="btn btn-sm btn-info" href="{% url 'list' %}">cancel</a></center>

<form method="POST" action=""> 
	{% csrf_token %}
	<input class="btn btn-info" type="submit" name="Comfirm">
</form>
</div>